body {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}

canvas {
	max-width: 400px;
	border-top: 1px solid black;
}

canvas:fullscreen {
    background-color: rgba(255,255,255,1);
}
canvas:-webkit-full-screen {
    background-color: rgba(255,255,255,1);
}
canvas:-moz-full-screen {
    background-color: rgba(255,255,255,1);
}
